body {
width: 1000px;
margin: auto; 
font-family: Arial, Helvetica, sans-serif;
padding: 15px 30px; 
}

.nav-link {
 color: #003366; 
 font-size: 20px;
 text-align: center;
 background-color: white;
 margin: auto;
 align-items: center;
 padding: 25px;
}

/*
header {
 color: white;
 background-color: #6699cc;
 text-align: center;
 padding: 25px;
 height: auto;
} 
*/

.portrait {
 max-width: 25%;
 width: 20%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 border-radius: 15px;
 border-color: #003366;
 border-width: 2px;
 border-style: solid;
}

main {
 color: #003366;
 font-size: 15px;
 background-color: #bfbfbf;
 text-align: center;
 padding: 25px;
 height: auto;
 margin: auto;
}

.lists {
 color: #003366;
 width: 150px;
 margin-left: auto;
 margin-right: auto; 
} 

footer {
 color: #003366;
 background-color: white;
 text-align: center;
 
 padding: 25px;
 bottom: 0px;
} 






