
.nav-link {
 color: white; 
 text-align: center;
 background-color: black;
 
 height: 10px;
 padding: 25px;
}


header {
 color: black;
 background-color: #bfbfbf;
 text-align: center;
 height: 10px;
 padding: 25px;
} 

.portrait {
 max-width: 50%;
 width: 25%;
 height: auto;
 
 margin-left: auto;
 margin-right: auto;
 border-radius: 50%;
 border-color: black;
 border-width: 10px;
 border-style: solid;
}

footer {
 color: white;
 background-color: black;
 text-align: center;
} 






