.nav-link {
 color: white; 
 item-align: center;
 background-color: black;
 
 height: 10px;
 padding: 25px 0px;
}


header {
 color: black;
 background-color: #bfbfbf;
 item-align: center;
} 








